
 <a href="Product\Bucket\@Session["UId"]" class="navbar-brand pull-right" style="background-image:url(http://romazon.com.ua/1.png.pagespeed.ce.uy-dyEIIet.png) !important; width:50px; min-height:50px">
    <i  > </i>
        <div class="pull-right align-middle" style="background-color:red;min-height:20px; min-width:20px; border-radius:10px; text-align:center"><span class="align-middle">@ViewBag.ProductCount</span></div>
       
  </a>